.App {
  margin: 0 auto;
}

h1,
h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
}
