.column img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 5px;
}

.city-feature ion-icon {
  margin-right: 5px;
  color: #c0392b;
  text-align: center;
  vertical-align: middle;
  line-height: 120%;
  font-size: 120%;
}
