.step-box:first-child {
  text-align: right;
  margin-top: 30px;
}
.step-box:last-child {
  margin-top: 50px;
}

.steps {
  margin: 30px;
}
.steps p {
  margin: 2%;
}

.steps:last-of-type {
  margin-bottom: 10%;
}
.steps div {
  color: #c0392b;
  border: 2px solid #c0392b;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.phone-image {
  width: 40%;
  padding-right: 10%;
}

.app-btn img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}
