header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/src/resources/images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

nav {
  width: 80%;
  margin: auto;
}

.hero-text-box {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:link,
.btn-full:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #c0392b;
  border-color: #c0392b;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border-color: #c0392b;
  border-width: 1px;
  border-style: solid;
  color: #c0392b;
}

.btn:hover,
.btn:active {
  background-color: #a43125;
}

.btn-full:active,
.btn-full:hover {
  border-color: #a43125;
  border-width: 1px;
  border-style: solid;
}

.btn-ghost:active,
.btn-ghost:hover {
  border-color: #a43125;
  border-width: 1px;
  border-style: solid;
  color: #fff;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #c0392b;
}
